@mixin font-size($size, $is-important: false) {
  $size: if(unitless($size), $size, strip-units($size / 1px));

  @if $is-important {
    font-size: base($size) + px !important;
    font-size: $size + rem !important;
  } @else {
    font-size: base($size) + px;
    font-size: $size + rem;
  }
}
